table
  theader
    tr
      each k in keys
        th= k
  tbody
    each r in rows
      tr
        each v in r.values
          if v.isBold
            td
              b= v.value
          else
            td= v.value
